@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: #111;
  color: #bbb;
  transition: all .5 ease-in-out
}

.btn{
  @apply px-6 py-2 outline-none rounded-full border-none;
}

.btn-primary{
  @apply bg-[#53c28b] text-white
}
.theme{
  transition: 1s all ease;
}

.darkTheme{
  background-color: #111;
  color: #bbb;
  transition: all .5 ease-in-out;

}
.lightTheme{
  background-color:white ;
  color: #111;
  transition: all .5 ease-in-out;
}
